In [32]:
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [33]:
df=pd.read_csv("./Loan_dataset.csv")

In [34]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [35]:
df.shape

(614, 13)

In [36]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [37]:
numerical_features = df.select_dtypes(include = [np.number]).columns
categorical_features = df.select_dtypes(include = [np.object]).columns

In [38]:
numerical_features

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [39]:
categorical_features

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [40]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

In [41]:
df['Married'] = df['Married'].fillna(df['Married'].mode()[0])

In [42]:
df['Dependents'] = df['Dependents'].str.replace('+','')

In [43]:
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])

In [44]:
df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])

In [45]:
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mode()[0])

In [46]:
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])

In [47]:
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [48]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [49]:
df.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [50]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [51]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [52]:
df['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [53]:
df['Married'].replace({'Yes':1,'No':0},inplace=True)

In [54]:
df['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [55]:
df['Dependents'].replace({'0':0,'1':1,'2':2,'3':3},inplace=True)

In [56]:
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [57]:
df['Self_Employed'].replace({'Yes':1,'No':0},inplace=True)

In [58]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [59]:
df['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)

In [60]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [61]:
df['Loan_Status'].replace({'Y':1,'N':0},inplace=True)

In [62]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [63]:
df['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)

In [64]:
df['CoapplicantIncome']=df['CoapplicantIncome'].astype("int64")
df['LoanAmount']=df['LoanAmount'].astype("int64")
df['Loan_Amount_Term']=df['Loan_Amount_Term'].astype("int64")
df['Credit_History']=df['Credit_History'].astype("int64")

In [65]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Loan_ID'] = le.fit_transform(df.Loan_ID)

In [66]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,2,1,1,0,1,1,3000,0,66,360,1,2,1
3,3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,4,1,0,0,1,0,6000,0,141,360,1,2,1

In [67]:
from imblearn.combine import SMOTETomek

In [68]:
smote = SMOTETomek(0.90)

In [69]:
y = df['Loan_Status']
x = df.drop(columns=['Loan_Status'],axis=1)

In [70]:
x_bal,y_bal = smote.fit_resample(x,y)

In [71]:
print(y.value_counts())
print(y_bal.value_counts())

1    422
0    192
Name: Loan_Status, dtype: int64
1    365
0    322
Name: Loan_Status, dtype: int64

In [72]:
from sklearn.preprocessing import StandardScaler

In [73]:
sc = StandardScaler()
x_bal = sc.fit_transform(x_bal)

In [74]:
x_bal = pd.DataFrame(x_bal)

In [75]:
x_bal.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.726647,0.548759,-1.173526,-0.696185,0.598087,-0.320513,0.117265,-0.548811,-0.298048,0.269264,0.607063,1.328911
1,-1.720786,0.548759,0.852133,0.359619,0.598087,-0.320513,-0.100833,-0.018027,-0.195643,0.269264,0.607063,-1.231992
2,-1.714925,0.548759,0.852133,-0.696185,0.598087,3.119996,-0.373543,-0.548811,-0.989281,0.269264,0.607063,1.328911
3,-1.709064,0.548759,0.852133,-0.696185,-1.671999,-0.320513,-0.445381,0.281156,-0.298048,0.269264,0.607063,1.328911
4,-1.703202,0.548759,-1.173526,-0.696185,0.598087,-0.320513,0.143278,-0.548811,-0.029235,0.269264,0.607063,1.328911

In [76]:
from sklearn.model_selection import train_test_split

In [77]:
x_train, x_test, y_train, y_test = train_test_split(x_bal, y_bal, test_size = 0.33, random_state = 42)

In [78]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(460, 12)
(460,)
(227, 12)
(227,)

In [79]:
x_train

,0,1,2,3,4,5,6,7,8,9,10,11
311,0.359929,0.548759,0.852133,1.415423,0.598087,-0.320513,0.545192,0.565907,0.277980,0.269264,0.607063,-1.231992
382,0.887434,0.548759,0.852133,1.415423,-1.671999,-0.320513,-0.088947,-0.548811,-0.426054,0.269264,0.607063,-1.231992
137,-0.824027,0.548759,-1.173526,-0.696185,0.598087,-0.320513,-0.329785,-0.548811,-1.194091,0.269264,0.607063,1.328911
346,0.652987,0.548759,0.852133,-0.696185,-1.671999,-0.320513,-0.517046,0.295939,-0.362051,0.269264,0.607063,1.328911
326,0.483013,0.548759,0.852133,-0.696185,0.598087,-0.320513,-0.147864,-0.548811,-0.170041,0.269264,0.607063,0.048460
...,...,...,...,...,...,...,...,...,...,...,...,...
71,-1.269476,0.548759,0.852133,2.471227,0.598087,-0.320513,-0.344773,0.859105,0.469990,-0.690615,-1.647275,0.048460
106,-1.040890,0.548759,0.852133,0.359619,0.598087,-0.320513,-0.508950,-0.056744,-0.746069,0.269264,0.607063,1.328911
270,0.078593,0.548759,-1.173526,-0.696185,0.598087,-0.320513,2.595248,-0.548811,4.310176,0.269264,0.607063,-1.231992
435,1.250826,0.548759,0.852133,-0.696185,0.598087,3.119996,-0.463297,0.511702,0.572395,0.269264,0.607063,1.328911
102,-1.076058,-1.822294,0.852133,-0.696185,0.598087,-0.320513,-0.385774,0.272356,-0.054836,0.269264,0.607063,0.048460

In [80]:
x_test

,0,1,2,3,4,5,6,7,8,9,10,11
286,0.184094,0.548759,-1.173526,-0.696185,0.598087,-0.320513,-0.043294,-0.548811,-0.170041,0.269264,-1.647275,-1.231992
653,-0.782999,0.548759,-1.173526,-0.696185,-1.671999,-0.320513,-0.548917,-0.548811,-1.168490,0.269264,-1.647275,1.328911
257,-0.009325,-1.822294,-1.173526,-0.696185,0.598087,-0.320513,0.042843,-0.548811,-0.003633,2.189022,-1.647275,1.328911
336,0.559208,0.548759,-1.173526,2.471227,0.598087,-0.320513,0.688869,-0.548811,0.533993,0.269264,0.607063,-1.231992
318,0.418540,0.548759,-1.173526,-0.696185,0.598087,-0.320513,-0.459679,-0.548811,-0.605263,2.189022,0.607063,0.048460
...,...,...,...,...,...,...,...,...,...,...,...,...
15,-1.632868,0.548759,-1.173526,0.359619,-1.671999,-0.320513,-0.270867,-0.548811,-0.554060,-1.650494,0.607063,1.328911
375,0.840544,0.548759,-1.173526,-0.696185,0.598087,3.119996,0.904038,-0.548811,0.559594,0.269264,-1.647275,1.328911
234,-0.161715,0.548759,0.852133,2.471227,0.598087,-0.320513,-0.143902,0.088623,0.213977,0.269264,-1.647275,1.328911
642,-0.226188,-1.822294,-1.173526,-0.696185,-1.671999,-0.320513,-0.462436,0.139308,-0.157241,-1.954455,-1.647275,1.328911
271,0.084454,0.548759,0.852133,1.415423,-1.671999,-0.320513,0.430458,-0.548811,0.533993,0.269264,0.607063,-1.231992

In [81]:
y_train

311    1
382    1
137    1
346    1
326    1
      ..
71     0
106    1
270    0
435    1
102    1
Name: Loan_Status, Length: 460, dtype: int64

In [82]:
y_test

286    1
653    0
257    0
336    1
318    0
      ..
15     1
375    0
234    1
642    0
271    1
Name: Loan_Status, Length: 227, dtype: int64